<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/login.css">
    <style>
      body {
    background-color: white;
    color: rgb(48, 48, 48);
}
.logo, .account_logo {
    height: 50px;
    width: auto;
}
body.dark-theme {
    background-color:  rgb(48, 48, 48);
    color: white;
}
body {
    transition: background-color 0.3s, color 0.3s;
}
    </style>
    <title>about</title>
  </head>
  <body>
    <a href="home">
      <img class="logo" src="src/img/logo.png" alt="Logo du site" />
    </a>
    <h4>Owner :</h4>
    <h4>Severin Noah</h4>
    <h4>Quiatol Evan</h4>
    <script src="src/java/shadowMode.js"></script>
  </body>
</html>
