<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/styles.css" />
    <title>Login</title>
  </head>
  <body>
    <h1>ForAnime</h1>
    <form action="/auth" method="post">
      <input type="TEXT" name="username" placeholder="Username" required>
      <input type="TEXT" name="email" placeholder="Email" required>
      <input type="TEXT" name="password" placeholder="Password" required>
      <button type="submit">Submit</button>
  </form>
  <br><br><br><br><br>
  <form action="/auth" method="post">
    <input type="TEXT" name="username" placeholder="Username" required>
    <input type="TEXT" name="password" placeholder="Password" required>
    <button type="submit">Submit</button>
  </form>
  <br><br><br><br><br>
  <form action="/auth" method="post">
    <button type="submit" name="username">Log Out</button>
  </form>
  </body>
</html>
