<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category Posts</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <h1>Category: {{.Category}}</h1>

    {{range $index, $post := .Posts}}
        <div>
            <h2>Post by {{index $.Usernames $index}}</h2>
            <p>{{$post}}</p>

            <h1>Commentaires</h1>
{{range $postIndex, $postComments := $.Commentaires}}
    <h2>Post {{index $.PostIDs $postIndex}}</h2>
    {{range $commentIndex, $comment := $postComments}}
        <h3>{{index (index $.AuteurCommentaires $postIndex) $commentIndex}}</h3>
        <p>{{$comment}}</p>
    {{end}}
{{end}}
 
        
    {{end}}
</body>
</html>