<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category Posts</title>
    <link rel="stylesheet" type="text/css" href="/src/static/tweet.css">
</head>
<body>
    <div class="container">
        <h1>Category: {{.Category}}</h1>
        {{range $index, $post := .Posts}}
        <div class="tweet">
            <div class="tweet-header">
                <img src="/src/img/account_logo.jpg" alt="Profile Picture" class="tweet-profile-pic">
                <div>
                    <span class="tweet-username">
                        <a href="/profile/{{index $.Usernames $index}}">{{index $.Usernames $index}}</a>
                    </span>
                    <span class="tweet-time">. 23h</span>
                </div>
            </div>
            <div class="tweet-content">
                <p>{{$post}}</p>
            </div>
            <div class="tweet-actions">
                <div class="tweet-action like-button" onclick="submitLike(event)">
                    <span class="material-symbols-outlined heart-icon">
                        favorite
                    </span>
                </div>
                <div class="tweet-action">
                    <span class="material-symbols-outlined" onclick="toggleReplyInput(this)">
                        forum
                    </span>
                    <form action="/categories/" method="post">
                        <input type="hidden" name="post-id" value="{{index $.PostIDs $index}}">
                        <input type="text" required name="reply-message" class="message-input reply-input" placeholder="Your reply">
                        <button type="submit">Submit</button>
                    </form>
                </div>
                {{if eq $.CurrentUserRole "Administrators"}}
                <form action="/categories/" method="post" style="display: inline;">
                    <input type="hidden" name="post-id" value="{{index $.PostIDs $index}}">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="delete-button">Delete</button>
                </form>
                {{end}}
            </div>
            <br>
            <div class="comments-section">
                {{range $postIndex, $postComments := $.Commentaires}}
                    {{range $commentIndex, $comment := $postComments}}
                        <a href="/profile/{{index (index $.AuteurCommentaires $postIndex) $commentIndex}}">{{index (index $.AuteurCommentaires $postIndex) $commentIndex}}</a>
                        <p>{{$comment}}</p>
                    {{end}}
                {{end}}
            </div>
        </div>
        {{end}}
    </div>
    <script>
        function submitLike(event) {
            var likeButton = event.target.closest('.like-button');
            likeButton.classList.toggle('clicked');
        }

        function toggleReplyInput(replyButton) {
            var tweetActions = replyButton.closest('.tweet-actions');
            var replyInput = tweetActions.querySelector('.reply-input');
            replyInput.classList.toggle('visible');
        }
    </script>
    <script src="../java/shadowMode.js"></script>
</body>
</html>