<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="/src/css/login.css">
  <title>Login</title>
</head>
<body>
  <form>
    <div class="header">
      <a href="landing_n.html">
        <img class="logo" src="/img/logo.png" alt="Logo du site" />
      </a>
      <div class="search">
        <form>
          <div class="search">
          <span class="search-icon material-symbols-outlined">search</span>
          <input class="search-input" type="search" placeholder="Search" />
          </div>
      </div>
      <div class="account">
        <a href="login.html">
            <img class="account_logo" src="/img/account_logo.jpg" alt="img du compte" />
        </a>
    </div>
  </div>
  </form>
  <div class="log">
    <div class="wrapper">
      <div class="card-switch">
          <label class="switch">
             <input type="checkbox" class="toggle">
             <span class="slider"></span>
             <span class="card-side"></span>
             <div class="flip-card__inner">
                <div class="flip-card__front">
                   <div class="title">Log in</div>
                   <form class="flip-card__form" action="">
                      <input class="flip-card__input" name="email" placeholder="Email" type="email">
                      <input class="flip-card__input" name="password" placeholder="Password" type="password">
                      <button class="flip-card__btn">Let`s go!</button>
                   </form>
                </div>
                <div class="flip-card__back">
                  <div class="title">Sign up</div>
                  <form class="flip-card__form" action="/signup" method="post">
                      <input class="flip-card__input" placeholder="Username" name="username" type="text">
                      <input class="flip-card__input" name="email" placeholder="Email" type="email">
                      <input class="flip-card__input" name="password" placeholder="Password" type="password">
                      <button class="flip-card__btn">Confirm!</button>
                  </form>
                </div>
             </div>
          </label>
      </div>   
  </div>
  </div>
</body>
</html>
