<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/landing.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" /> <!-- icone de recherche -->
    <title>landing</title>
  </head>
  <body>
    <form>
      <div class="header">
        <div class="menu-container">
          <img class="logo" src="/src/img/logo.png" alt="Logo du site">
          <div class="menu-dropdown">
            <ul>
              <li>
                <div class="button">
                  <a href="about"><p class="p">about</p></a>
                </div>
              </li>
              <li>
                <div class="button">
                  <a href="categories"><p class="p">catégorie</p></a>
                </div>
              </li>
              <li>
                <div class="button">
                  <a href="create"><p class="p">newtopic</p></a>
                </div>
              </li>
              <li>
                <div class="button">
                  <a href="post"><p class="p">post</p></a>
                </div>
              </li>
              <li>
                <div class="button">
                  <a href="user"><p class="p">user</p></a>
                </div>
              </li>
              <li>
                <div class="button">
                  <a href="parameter"><p class="p">parameter</p></a>
                </div>
              </li>
            </ul>              
          </div>
        </div>
        
        <div class="search">
          <span class="search-icon material-symbols-outlined">search</span>
          <input class="search-input" type="search" placeholder="Search" />
        </div>
        <div class="account">
          {{if .Username}}
            <a href="user">
              <img class="account_logo" src="/src/img/account_logo.jpg" alt="img du compte" />
            </a>
          {{else}}
            <a href="auth">
              <img class="account_logo" src="/src/img/account_logo.jpg" alt="img du compte" />
            </a>
          {{end}}
      </div>
    </div>
    </form>
    {{if .Username}}
        <p>Bienvenue {{.Username}}!</p>
    {{else}}
        <p>{{.Error}}</p>
    {{end}}
    <br/>
    <br/>
    <br/>
    <br/>
    <h2>Les plus populaire</h2>
    <div class="image-slider">
      <div class="slider-container">
        <a href="https://franime.fr/anime/demon-slayer-kimetsu-no-yaiba?s=1&ep=&lang=vo"><img src="/src/img/anime/demon-slayer.jpg" alt="Demon Slayer"></a>
        <a href="https://franime.fr/anime/jujutsu-kaisen?s=1&ep=&lang=vo"><img src="/src/img/anime/jjk.jpg" alt="Jujutsu Kaisen"></a>
        <a href="https://franime.fr/anime/my-hero-academia?s=1&ep=&lang=vo"><img src="/src/img/anime/mha.png" alt="My Hero Academia"></a>
        <a href="https://franime.fr/anime/one-piece?s=1&ep=&lang=vo"><img src="/src/img/anime/one_piece.jpg" alt="One Piece"></a>
        <a href="https://franime.fr/anime/solo-leveling?s=1&ep=&lang=vo"><img src="/src/img/anime/solo-leveling.png" alt="Solo Leveling"></a>
        <a href="https://franime.fr/anime/shingeki-no-kyojin-snk?s=1&ep=&lang=vo"><img src="/src/img/anime/snk.jpg" alt="Shingeki no Kyojin SNK"></a>
        <a href="https://franime.fr/anime/spy-x-family?s=1&ep=&lang=vo"><img src="/src/img/anime/spy_family.jpg" alt="Spy x Family"></a>
        <a href="https://franime.fr/anime/the-eminence-in-shadow?s=1&ep=&lang=vo"><img src="/src/img/anime/teis.jpg" alt="The Eminence in Shadow"></a>
        <a href="https://franime.fr/anime/lycoris-recoil?s=1&ep=&lang=vo"><img src="/src/img/anime/locoris_recoil.jpg" alt="Lycoris Recoil"></a>
        <a href="https://franime.fr/anime/mashle-magic-and-muscles?s=1&ep=&lang=vo"><img src="/src/img/anime/mashle.jpg" alt="Mashle"></a>
      </div>
    </div>
    <h2>Vos animes</h2>
</body>