<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/styles.css" />
    <title>landing</title>
  </head>
  <body>
    <h1>ForAnime</h1>
    <form>
        <input
        type="text"
        required=""
        name="search"
        placeholder="search an anime or a topic"
        />
    </form>
    <br></br>
    <a href="login">Sign Up</a>
    <a href="user">Profile</a>
    <button type="Click" onclick="window.location='create';">New Topic</button>
    <button type="Click" onclick="window.location='post';">New Post</button>
    <a href="parameter">Parameter</a>
    <a href="about">About</a>
  </body>
</html>