<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" /> <!-- icone de recherche -->
    <title>Landing</title>
  </head>
  <body>
    <form>
      <div class="header">
        <img class="logo" src="/img/logo.png" alt="Logo du site" />
        <div class="search">
          <span class="search-icon material-symbols-outlined">search</span>
          <input class="search-input" type="search" placeholder="Search" />
        </div>
        <div class="account">
          <a href="login.html">
              <img class="account_logo" src="/img/account_logo.jpg" alt="img du compte" />
          </a>
      </div>
      </div>
    </form>
    <br/>
    <br/>
    <br/>
    <br/>
    <h2>Les plus populaire</h2>
    <div class="image-slider">
      <div class="slider-container">
        <img src="/img/anime/demon-slayer.jpg" alt="Demon Slayer">
        <img src="/img/anime/jjk.jpg" alt="Jujutsu Kaisen">²
        <img src="/img/anime/mha.png" alt="My Hero Academia">
        <img src="/img/anime/one_piece.jpg" alt="One Piece">
        <img src="/img/anime/solo-leveling.png" alt="Solo Leveling">
        <img src="/img/anime/snk.jpg" alt="Shingeki no Kyojin SNK">
        <img src="/img/anime/spy_family.jpg" alt="Spy x Family">
        <img src="/img/anime/teis.jpg" alt="The Eminence in Shadow">
        <img src="/img/anime/locoris_recoil.jpg" alt="Lycoris Recoil">
        <img src="/img/anime/mashle.jpg" alt="Mashle">
      </div>
    </div>
    <h2>Vos animés</h2>
  </body>