<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/static/login.css">
    <style>
      body {
    background-color: white;
    color: rgb(48, 48, 48);
}
h1 {
    font-family: Arial, sans-serif;
}
body.dark-theme {
    background-color:rgb(48, 48, 48);
    color: white;
}
body {
    transition: background-color 0.3s, color 0.3s;
}
    </style>
    <title>create</title>
  </head>
  <body>
    <a href="home">
      <img class="logo" src="src/img/logo.png" alt="Logo du site" />
    </a>
    <form action="/create" method="post">
    <input type="TEXT" name="TopicName" placeholder="Enter a topic name" required>
    <input type="TEXT" name="Description" placeholder="Enter the description" required>
    <button type="submit">Submit</button>
  </form>
  <script src="src/java/shadowMode.js"></script>
  </body>
</html>
