<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/login.css">
    <style>
        body {
      background-color: white;
      color: rgb(48, 48, 48);
  }
  h1 {
      font-family: Arial, sans-serif;
  }
  body.dark-theme {
      background-color:rgb(48, 48, 48);
      color: white;
  }
  body {
      transition: background-color 0.3s, color 0.3s;
  }
      </style>
    <title>post</title>
</head>
<body>
    <a href="home">
        <img class="logo" src="src/img/logo.png" alt="Logo du site" />
    </a>    
    <h1>Username: {{.Username}}</h1>
    <h1>Created at: {{index .Dates 0}}</h1>
    <form action="/profile/{{.Username}}" method="post">
        <select name="role" id="role-select">
            <option value="">-- Choose a role --</option>
            {{range .Status}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
        </select>
        <button type="submit">Submit</button>
    </form>
    <br><br>
    {{range $index, $post := .Post}}
    <li>{{$.Username}}: {{$post}}</li>
    {{end}}
    <script src="src/java/shadowMode.js"></script>
</body>
</html>
