<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/static/post.css">
    <style>
        body {
            background-color: #f2f2f2;
            color: #333;
            font-family: Arial, sans-serif;
        }
        body.dark-theme {
            background-color: rgb(48, 48, 48);
            color: white;
        }
    </style>
    <title>Post</title>
</head>
<body>
    <a href="home">
        <img class="logo" src="src/img/logo.png" alt="Logo du site" />
    </a>
    <div class="page-message">
        <h2>Write a post</h2>
        <p>Please enter a topic name and description below:</p>
    </div>
    <form action="/post" method="post" enctype="multipart/form-data">
        <select name="categories" id="categories-select">
            <option value="">-- Please choose a category --</option>
            {{range .Categories}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
        </select>
        <br><br>
        <input type="text" required name="message" placeholder="Enter your message">
        <br><br>
        <input type="file" name="image" accept="image/jpeg,image/png,image/gif">
        <br><br>
        <button type="submit">Submit</button>
    </form>
    <script src="src/java/shadowMode.js"></script>
</body>
</html>
