<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/login.css">
    <style>
        body {
      background-color: white;
      color: rgb(48, 48, 48);
  }
  h1 {
      font-family: Arial, sans-serif;
  }
  body.dark-theme {
      background-color:rgb(48, 48, 48);
      color: white;
  }
  body {
      transition: background-color 0.3s, color 0.3s;
  }
      </style>
    <title>post</title>
</head>
<body>
    <a href="home">
        <img class="logo" src="src/img/logo.png" alt="Logo du site" />
    </a>
    <form action="/post" method="post">
        <select name="categories" id="categories-select">
            <option value="">-- Please choose a category --</option>
            {{range .Categories}}
            <option value="{{.}}">{{.}}</option>
            {{end}}
        </select>
        <br><br>
        <input type="text" required="" name="message" placeholder="Enter your message">
        <br><br>
        <button type="Submit">Submit</button>
    </form>
    <script src="src/java/shadowMode.js"></script>
</body>
</html>
