<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/static/user.css">
    <title>Utilisateur</title>
    <style>
        .container {
            width: 100%;
            max-width: 800px;
            margin: 40px auto;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
        .page-message {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <a href="home">
        <img class="logo" src="src/img/logo.png" alt="Logo du site" />
    </a>

    {{if.IsAuthenticated}}
    <h4>Username: {{.Username}}</h4>
    <h4>Email: {{.Email}}</h4>
    <h4>Dates: 
        <ul style="display:inline; list-style:none; padding:0;">
            {{range.Date}}
            <li style="display:inline; margin-right:10px;">{{.}}</li>
            {{end}}
        </ul>
    </h4>
    <form action="/user" method="post">
        <button type="submit">Log Out</button>
    </form>
    <div class="page-message">
        <h2>You can change your information here:</h2>
    </div>
    
    <div class="container">
        <form action="/user" method="post"> 
            <label for="email">New email:</label> 
            <input type="email" id="email" name="email" required style="width: 85%"> 
            <button type="submit">Submit</button> 
        </form>
        <form action="/user" method="post">
            <label for="username">New username:</label>
            <input type="text" id="username" name="username" required style="width: 85%">
            <button type="submit">Submit</button>
        </form>
        
        <form action="/user" method="post">
            <label for="password">New password:</label>
            <input type="text" id="password" name="password" required style="width: 85%">
            <button type="submit">Submit</button>
        </form>
        </div>
    <div style="display: inline-block; width: 20%">
        <h2>Post:</h2>
        {{range $index, $post :=.Posts}}
        <p>{{$post}}</p>
        {{end}}
    </div> 
    <div style="display: inline-block; width: 20%">
        <h2>Commentaire:</h2>
        {{range $index, $coms :=.Commentaires}}
        <p>{{$coms}}</p>
        {{end}}
    </div> 
    <div style="display: inline-block; width: 20%">
        <h2>Liked post:</h2>
        {{range $indexs, $liked :=.Liked}}
        <p>{{$liked}}</p>
        {{end}}
    </div>
    <div style="display: inline-block; width: 20%">
        <h2>DisLiked post:</h2>
        {{range $indexs, $dislike :=.Disliked}}
        <p>{{$dislike}}</p>
        {{end}}
    </div>
    {{else}}
        <h4>{{.Auth}}</h4>
    {{end}}

    <script src="src/java/shadowMode.js"></script>
</body>
</html>