.header {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  gap: 20px;
  padding: 10px; 
}

.logo {
  width: 60px; 
  height: 60px; 
  border-radius: 50%; 
}
.account_logo{
  width: 60px; 
  height: 60px; 
  border-radius: 50%;
}

.account {
  display: flex; 
  align-items: center;
}

.account-icon {
  font-size: 100px; 
}

.search {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 28px;
  background: #f6f6f6; 
  gap: 10px; 
}

.search-icon {
  font-size: 24px; 
}

.search-input {
  font-size: 16px;
  font-family: 'Lexend', sans-serif;
  color: #333;
  outline: none;
  border: none;
  background: transparent;
  padding: 5px;
}

.image-slider {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px 0;
  scrollbar-width: none;
}

.slider-container {
  display: flex;
}

.slider-container img {
  flex-shrink: 0;
  width: 200px; 
  height: auto;
  margin-right: 20px; /* Espacement entre les images */
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Ombre portée */
  transition: transform 0.3s ease; /* Animation de transition */
}

.slider-container img:last-child {
  margin-right: 0; /* Supprime l'espacement à droite de la dernière image */
}

.slider-container img:hover {
  transform: scale(1.05); /* Zoom sur l'image au survol */
}