.header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    gap: 20px;
    padding: 10px; 
  }
  
.logo {
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
}
  .account_logo{
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
  }
  
  .account {
    display: flex; 
    align-items: center;
  }
  
  .account-icon {
    font-size: 100px; 
  }
  
  .search {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 28px;
    background: #f6f6f6; 
    gap: 10px; 
  }
  
  .search-icon {
    font-size: 24px; 
  }
  
  .search-input {
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333;
    outline: none;
    border: none;
    background: transparent;
    padding: 5px;
  }
  body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
h1 {
    text-align: center;
    margin-top: 30px;
    color: #555;
}
.categories {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.category {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}
.category h2 {
    font-size: 1.2rem;
    margin: 0;
    color: #000000;
}
.delete-button {
    margin-left: 10px;
    color: #fff;
    background-color: #f44336;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.delete-button:hover {
    background-color: #d32f2f;
}
body.dark-theme {
    background-color: #333;
    color: #fff;
}