body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.tweet {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.tweet-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.tweet-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.tweet-username {
    font-weight: bold;
    margin-right: 5px;
}

.tweet-handle {
    color: #666;
}

.tweet-content {
    margin-bottom: 10px;
}

.tweet-image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.tweet-actions {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666;
}

.tweet-action {
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.tweet-action span {
    margin-right: 10px;
}

.tweet-action svg {
    margin-right: 5px;
    fill: #1DA1F2;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
